/*Necesario par indicar en que pagina estamos*/
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.navUsuarios a{
    color: var(--principal);
    border: 3px solid var(--principal);
}
#buscadorFlex{
  margin:auto;
  padding:0;
  text-align:left;
    
}
#s{
  transition:all 0.2s ease-out;
  width:1px;
  border-radius:0;
  box-shadow:none;
  outline: none;
  padding:0;
  margin:0;
  border:0;
  background-color: transparent;
  opacity:0;
}
#s:focus{
  width:8em;
  opacity:1;
}
label{
  padding-left: 1px;
  display:inline-block;
  margin-top:0.3em;
  color:white;
  text-shadow:0 0 0.1em rgba(60,60,60,0.3);
  position: relative;
  left:0.1em;
}
#searchform{
  display:inline;
  font-size:2em;
  border-radius: 5px;
  margin-left: 2rem;
  box-shadow:0 0 0.3em rgba(60,60,60,0.4);
  padding:0.3em;
  background:#222629;
}
#s{
  transition:all 0.2s ease-out;
  width:1px;
    font-size: 0.8em;
  border-radius:0;
  box-shadow:none;
  outline: none;
  color: white;
  padding:0;
  margin:0;
  border:0;
  background-color: transparent;
  opacity:0;
}
#s:focus{
  width:8em;
  opacity:1;
    padding-left: 15px;
}
label{
  padding-left: 1px;
  display:inline-block;
  margin-top:0.3em;
  color:white;
  
  position: relative;
  left:0.1em;
}
#a1{
    border: 4px solid #87C232;
    border-radius: 10px;
    margin: 25px;
    color: #87C232;
}

/* Navbar */
.contenidoPopupParcelas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Parcelas*/
.gestionParcelas{
    color: white;
    text-align: center;
}
.iconDesasignar, .iconAsignar{
    height: 30px;
    width: 30px;
    padding: 0.4rem;
}
.iconDesasignar:hover, .iconAsignar:hover{
    cursor: pointer;
}


.divParcelaAsignada{
    background-color: #63D4B1;
    border: 1px solid #737373;
    margin-top: 1rem;
    color: white;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.divParcelaDesasignada{
    background-color: #75A698;
    border: 1px solid #737373;
    margin-top: 1rem;
    color: white;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.headerParcelas{
    background-color: var(--principal);
    display: flex;
    justify-content: center;
}
.buscadorParcela{
    border: 2px solid var(--principal);

}
.listadoParcelas{
    font-weight: bold;
    height: 150px;
    overflow: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1rem;
}
.containerListadoParcelas{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
   
}

.iconLupa{
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

.listadoParcelas::-webkit-scrollbar {
    -webkit-appearance: none;

}

.listadoParcelas::-webkit-scrollbar:vertical {
    width:10px;

}

.listadoParcelas::-webkit-scrollbar-button:increment,.listadoParcelas::-webkit-scrollbar-button {
    display: none;

}

.listadoParcelas::-webkit-scrollbar:horizontal {
    height: 10px;

}
.menuParcelas{
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listadoParcelas::-webkit-scrollbar-thumb {
    background-color: var(--principal);
    border-radius: 20px;

}
.fas.fa-user-plus{
    color: white;
    font-size: 40px;
    margin-right: 2rem;
}

.listadoParcelas::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 10px #797979;

}
.nameParcela{
    margin-left: 15px;
}
.buttonParcelasNoAsignadas{
    color: white;
    background-color: var(--principal);
    width: inherit;
    height: inherit;
    border: 0;
    cursor: pointer;
    font-weight: bold;
}
.buttonParcelasNoAsignadas:hover{
    color: #009B94;
    background-color: white;
}

.filtrosParcelas{
    display: none;
    position: absolute;
    color: var(--principal);
    background-color:white ;
    font-weight: bold;

    border: 2px solid var(--principal);
    cursor: pointer;
    width: 110px;
    font-weight: bold;
}
.misParcelas{
    color: white;
    background-color: var(--principal);
    width: inherit; 
    border: 0px;
    cursor: pointer;
    font-weight: bold;
    height: inherit;

}
.todasParcelas{
    color: white;
    background-color: var(--principal);
    width: inherit;
    height: inherit;
    border: 0;
    cursor: pointer;
    font-weight: bold;

}
.misParcelas:hover{
    color: var(--secundario);
    background-color: white;
}
.todasParcelas:hover{
    color: var(--secundario);
    background-color: white;
}

.desplegarParcelas{
    color: var(--principal);
    background-color:white ;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid var(--principal);
    cursor: pointer;
    width: 110px;
    height: 40px;
}
.desplegarParcelas:hover{
    color: white ;
    background-color:var(--secundario) ;
}








/*---------------------*/

h4{
    padding-left: 1rem;
    padding-top: 1rem;
    margin-top: 10px;
    justify-content: center;
    display: flex;
}

/* ----------------------*/

*{
    font-family: "Trebuchet MS";
}
body{
    background-color:#474A4F;
    margin: 0 auto;
}
#textNombreUsuario{
    padding: 5px;
    
}
#linea-titulo {
    border: 2px solid black;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}
.panelActual {
    display: none;
    flex-direction: column;
}
.titulo-sin-linea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-sin-linea p {
    font-size: 40px;
}



.titulo-admin{
    color: gray;
    height: 50px;
    border-right: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}


.divCentral{
    height: 100%;
    display: flex;
    border-radius: 15px;
}
.divUsuario{

    display: flex;
    align-items: center;
}
.iconUseer{
    margin-left: 2rem;
    margin-right: 0.75rem;
    width: 75px;
    height: 75px;
}

.textAdmin{
    margin: 0;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    text-align: center;
}

.divContenido{
    width: 100%;
}
.divPanelActual{
    border-top-right-radius: 15px;
    border-bottom: 2px solid white;
    font-size: 1.2rem;
    width: 100%;
    height: 82px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #800053;
}
.divContenidoUserNuevo{
    display: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.25rem;
}
.divContenidoUser{
    padding: 1.5rem;
    height: 270px;
    overflow: auto;
}

.divNuevoUsuario{
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;

}

.botonAceptar{
    border: 5px;
    border-color: black;
    background-color: #333333;
    color: white;
    font-size: 11px;
    border-radius: 10px;
    width: 80px;
    height: 35px;
    text-align: center;
   margin-bottom: 0.7rem;
    margin-right: 10px;
    margin-left: 30px;
    margin-top: 10px;
}

.botonAceptar:hover{
    background-color: black;
    
}


.iconNuevoUsuario{
    width: 100px;
    height: auto;
    padding-left: 2.5rem;
   margin-bottom: 0.7rem;
}
.iconNuevoUsuario:hover{
    cursor: pointer;
}
.divTextoPersona{
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}

.divTextoNuevaPersona{
    color: white;
    display: flex;
    flex-direction: column;
}

/*---------------------------*/

.divPerson{
    display: flex;
    background-color: #222629;
    border-radius: 15px;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.popupParcelas{
    justify-content: center;
}


.divNuevaPersona{
    display: flex;
    background-color: #797979;
    border-radius: 15px;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}





/*SCROL BARR listado de usuarios*/

.divContenidoUser::-webkit-scrollbar {
    -webkit-appearance: none;
}

.divContenidoUser::-webkit-scrollbar:vertical {
    width:10px;
}

.divContenidoUser::-webkit-scrollbar-button:increment,.divContenidoUser::-webkit-scrollbar-button {
    display: none;
}

.divContenidoUser::-webkit-scrollbar:horizontal {
    height: 10px;
}

.divContenidoUser::-webkit-scrollbar-thumb {
    background-color: var(--principal);
    border-radius: 20px;

}

    .divContenidoUser::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 10px #797979;

}


/*----------Iconos-----------*/
.iconUserPerson{
    margin-right: 1rem;
    width:75px ;
    height: 75px;
}
.iconDeleteUser{
    width:50px ;
    height: 50px;
}
.iconDeleteUser:hover{
    cursor: pointer;
}
.iconAsign{
    width:40px ;
    height: 40px;
    cursor: pointer;
    margin-top: 1px;
}
.iconEditUser1{
    border-color: black;
    color: white;
    font-size: 12px;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-right: 30px;
    margin-left: 5px;
}
.iconEditUser1:hover{
    background: grey;
    color: white;
    cursor: pointer;
}

.iconNuevoUsuario{
    margin-top: 1rem;
    width:50px;
    height: auto;
    margin-right: 0.5rem;
}
.iconAceptarCancelNuevo{
    width: 50px;
    height: 50px;
}
.iconAceptarCancelNuevo:hover{
    cursor: pointer;
}

.iconAceptarCancel{
    display: none;
    border: 5px;
    border-color: black;
    background-color: #333333;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    width: 85px;
    height: 35px;
    text-align: center;
    margin-right: 30px;
    margin-left: 5px;
    
}

.iconAceptarCancel:hover{
    cursor: pointer;
    background: black;
    color: white;
}



/*------RESPONSIVE----------*/
/*------Ipad---------*/
@media only screen and (max-width:900px){
    .divContenidoUser{
        overflow: inherit;
    }
    .divPanelActual{
        border-radius: 15px;
    }
    .container{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .iconUseer{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .iconNuevoUsuario{
        width: 75px;
        height: 75px;
    }
    .divPanelActual {
        border-radius: 0px;
    }
    .titulo-sin-linea p {
        font-size: 35px;
    }
    .divTextoNuevaPersona{
        margin-right: 1rem;
    }
    .iconEditUser1{
        width: 30px;
        height: 30px;
    }
    
    .titulo-admin{
        display: none;
    }

}

/*---------Iphone--------*/
@media only screen and (max-width: 450px) {
    .divParcelaAsignada{
        width: 250px;
    }
    .divParcelaDesasignada{
        width: 250px;
    }
    .gestionParcelas{
        font-size: 1rem;
    }
    .fas.fa-user-plus{
        font-size: 25px;
    }
   
    .iconUserPerson{

        width:60px ;
        height: 60px;
     }
    .desplegarParcelas{
        
    }
    #searchform{
        font-size:1em;
    }
    .menuParcelas{
        display: flex;
        align-content: space-around;
        padding-top: 0;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
        
    }
    
    .titulo-admin{
        display: none;
    }
    .iconNuevoUsuario{
        width: 45px;
        height: 45px;
        margin-right: 1rem;
    }
    .iconEditUser1{
        text-align: center;
        width: 25px;
        height: 25px;
        padding: 0.35rem;
        margin-left: 5px;
        margin-right: 0;
    }
    .iconDeleteUser{
        width: 40px;
        height: 40px;
    }

    .divContenidoUser{
        padding: 0;
        margin-top: 1rem;
    }
    .iconUseer{
        width: 65px;
        height: 65px;

    }
   
    .textNombre{
        font-size: 1rem;
        width: 9rem;
    }
    .textCorreo{
        font-size: 1rem;
        width: 9rem;
    }
    .divNuevaPersona{
        flex-direction: column;
        font-size: 1rem;
    }
    .divTextoNuevaPersona{
        color: white;
        display: flex;
        align-items: center;

    }
    .containerListadoParcelas{
        margin-top: 0.5rem;
    }

    .titulo-sin-linea p {
        font-size: 25px;
    }

    .divTextoPersona{
        padding-left: 0;

    }
    .iconAceptarCancel{
        padding: 0.35rem;
        height: auto;
        width: auto;
        margin-right: 0;
    }
    .textNuevoUser{
        width: 250px;
    }
    .divTextoNuevaPersona{
        margin-right: 0;
    }

}

.textCorreo{

    font-size: 1.2rem;
    border: 0;
    background: transparent;
}
.textCorreo:disabled{
    color: white;
}
.textNombre{
    font-size: 1.5rem;
    border: 0;
    background: transparent;
    margin-bottom: 0.5rem;
}
.textNombre:disabled{
    color: white;
}
.textNombre:enabled{
    color: white;
    background: #423f3e;
}
.textCorreo:enabled{
    color: white;
    background: #423f3e;
}

.textNuevoUser{
    font-size: 1rem;
    border: 0;
    background: transparent;
}
.textNuevoUser:enabled{
    color: white;
    background: #423f3e;
}

.textNuevoUser{
    padding: 0.5rem;

}

