* {
    font-family: "Trebuchet MS";
}

.grafica {
    position: relative;
    width: 50vw;
    margin: 0 auto;
    padding: 1.5rem;
    height: 570px;
    overflow: auto;
}
.textSeleccionParcela {
    font-weight: bold;
    padding: 5px;
    margin-bottom: 1px;
}
.textSeleccionSonda {
    font-weight: bold;
    padding: 5px;
    margin-bottom: 1px;
}
.textSeleccionFecha {
    font-weight: bold;
    padding: 5px;
    margin-bottom: 1px;
}
.textSeleccionUser{
    font-weight: bold;
    padding: 5px;
    margin-bottom: 1px;
}


/*SCROL BARR*/

.grafica::-webkit-scrollbar {
    -webkit-appearance: none;
}

.grafica::-webkit-scrollbar:vertical {
    width: 10px;
}

.grafica::-webkit-scrollbar-button:increment,
.grafica::-webkit-scrollbar-button {
    display: none;
}

.grafica::-webkit-scrollbar:horizontal {
    height: 10px;
}

.grafica::-webkit-scrollbar-thumb {
    background-color: #800053;
    border-radius: 20px;
}

.grafica::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 10px #797979;
}

/*-------------*/

#chartTemperatura {
    position: relative;
    width: 70vw;
    height: 50vh;
    margin-bottom: 1rem;
    background-color: orange;
}

#chartLuminosidad {
    position: relative;
    width: 70vw;
    height: 50vh;
    margin-bottom: 1rem;
    background-color: grey;
}

#chartHumedad {
    position: relative;
    width: 70vw;
    height: 50vh;
    margin-bottom: 1rem;
    background-color: royalblue;
}

#chartSalinidad {
    position: relative;
    width: 70vw;
    height: 50vh;
    margin-bottom: 1rem;
    background-color: #408033;
}

.lbl {
    display: flex;
    width: 33px;
    height: 33px;
    background: white;
    border-radius: 10px;
    border: 1px black solid;
    margin: 0 auto;
}

#switchTemperatura:checked + .lbl::after {
    content: "✔";
    color: aliceblue;
    font-size: 1.8em;
}

#switchTemperatura:checked + .lbl {
    background: purple;
}

#switchTemperatura {
    display: none;
}

#switchHumedad:checked + .lbl::after {
    content: "✔";
    color: aliceblue;
    font-size: 1.8em;
}

#switchHumedad:checked + .lbl {
    background: purple;
}

#switchHumedad {
    display: none;
}

#switchSalinidad:checked + .lbl::after {
    content: "✔";
    color: aliceblue;
    font-size: 1.8em;
}

#switchSalinidad:checked + .lbl {
    background: purple;
}

#switchSalinidad {
    display: none;
}

#switchLuminosidad:checked + .lbl::after {
    content: "✔";
    color: aliceblue;
    font-size: 1.8em;
}

#switchLuminosidad:checked + .lbl {
    background: purple;
}

#switchLuminosidad {
    display: none;
}


body {
    margin: 0 auto;
}

.logoGTI:hover {
    cursor: pointer;
}

.cerrar_sesion {
    padding: 5px;
    width: 30px;
}

.cerrar_sesion:hover {
    cursor: pointer;
}

.iconMenu {
    display: none;
    width: 35px;
    height: auto;
    margin-top: 0.7rem;
    margin-left: 0.5rem;
}


.divContenidoGraficas {
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: flex-start;
    flex-direction: row;
}

.checkbox {
    display: flex;
    text-align: center;
    margin-bottom: 1rem;
    justify-content: center;
}




.container {
    align-items: center;
    margin-right: 7.5rem;
    margin-left: 7.5rem;
    margin-bottom: 1.5rem;
}

header {
    display: flex;
    justify-content: space-between;
}

.divCentral {
    height: 100%;
    display: flex;
    border-radius: 15px;
}

.divUsuario {

    display: flex;
    align-items: center;
}



.seleccion select {
    background-color: #009B94;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 10px;
    padding: 1rem;
    border: 0px;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 1rem;

}
#selectUsurios{
    background-color: #009B94;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 10px;
    padding: 0.6rem;
    border: 0px;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5rem;
}

#selectParcelas {
    background-color: #009B94;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 10px;
    padding: 0.6rem;
    border: 0px;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5rem;
}

#selectSondas{
    background-color: #009B94;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 10px;
    padding: 0.6rem;
    border: 0px;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5rem;
}


.calendar {
    background-color: #009B94;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 10px;
    padding: 0.6rem;
    border: 0px;
    cursor: pointer;
    margin-top: 5px;
}


.lista a {
    color: black;
    display: block;
    padding: 12px;
}

.lista {
    background-color: #d9c0fc;
    display: none;
    width: 180px;
    position: absolute;
    z-index: 100;
}

.lista a:hover {
    background-color: #f1f1f1;
}

.iconSensorSelected {
    width: 80px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.divContenido {
    width: 100%;
}

.panelActual {
    display: flex;
    flex-direction: column;
}

.titulo-sin-linea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-sin-linea p {
    font-size: 40px;
}

#linea-titulo {
    border: 2px solid black;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

.dos-primeras {
    display: flex;
    
}

.dos-segundas {
    display: flex;

}

.elementSensores {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 2rem;
}

.textAdmin {
    margin: 0;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    text-align: center;
}

.navMediciones{
    border: 4px solid black;
}

.divSelectores{
    display: flex;
}
/*------RESPONSIVE----------*/
@media only screen and (max-width:900px) {

    /* Ipad */

    .grafica {
        overflow: inherit;
        width: 80vw;
    }

    .container {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .iconMenu {
        display: block;
    }

    .logoGTI {
        display: none;
    }

    .iconSensorSelected {
        width: 60px;
    }

    .titulo-sin-linea p {
        font-size: 35px;
    }

    .seleccion select {
        margin-top: 30px;
        margin-left: 40px;
    }
    
    .divContenidoGraficas{
        align-items: baseline;
        justify-content: space-around;
    }

    .checkbox {
        display: flex;
        flex-direction: row;
        font-size: 15px;
        justify-content: center;
    }

    .elementSensores {
        display: flex;
        justify-content: flex-start;
    }
    

    #humedad {
        margin-left: 35px;
    }

    #salinidad {
        margin-left: 35px;
    }

    .cajas {
        margin-top: 35px;
    }
    #selectUsurios{
        margin: 0 ;
    }
    #selectParcelas{
      margin: 0;
    }
    #selectSondas{
        margin: 0;
    }
    .calendar{
        margin: 0;
    }
    .divSelectores{
        margin-top: 1.5rem;
        justify-content: space-around;
    }
    .divContenidoGraficas{
        display: block;
    }
    .cajas {
        margin: 0.5rem 0 0 0;
    }
    

}

@media only screen and (max-width: 450px) {
    /* Iphone */

    .iconSensorSelected {
        width: 45px;

    }

    .titulo-sin-linea p {
        font-size: 25px;
    }

    header {
        margin-bottom: 0.5rem;
    }

    .seleccion select {
        margin-left: 0px;
        margin-top: 0px;
        width: 150px;
        height: 60px;
        font-size: 15px;
    }

    .checkbox {
        display: flex;
        margin-top: 5px;
        justify-content: space-around;
    }
    .grafica{
        padding: 0;
    }

    .seleccion select {
        margin-top: 20px;
    }
    
    .divContenidoGraficas{
        flex-wrap: wrap;
    }
   
    .seleccion_calendar {
        font-size: 10px;
        margin: 5px;
        margin-right: 150px;
        margin-top: 15px;
        width: 10px;
        font-size: 3px;
    }
    
    #selectUsurios{
        width: 150px;
        height: 40px;
        font-size: 13px;
        padding: 0.5rem;
    }
    
    #selectParcelas{
        width: 150px;
        height: 40px;
        font-size: 13px;
        padding: 0.5rem;

    }
    #selectSondas{
        width: 150px;
        height: 40px;
        font-size: 13px;

        padding: 0.5rem;
    }

    
    .calendar{
        width: 130px;
        height: 20px;
        font-size: 13px;
        padding: 0.5rem;
    }

    .seleccion {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .elementSensores {
        flex-direction: column;
        align-items: center;
        font-size: 13px;
        margin-right: 0;
    }

    .elementSensores h3 {
        margin: 0;
    }

    .logoGTI{
        display: block;
        width: 150px;
        height: auto;
    }


    .dos-primeras {
        display: flex;
        flex-direction: column;
    }
    .calendar{
        margin-bottom: 0;
        margin-left: 0;
    }

    .dos-segundas {
        display: flex;
        flex-direction: column;
        margin-right: 0;
    }

    #salinidad {
        margin-right: 10px;
        margin-left: 10px;
    }

    #temperatura {
        margin-right: 10px;
    }

    #humedad {
        margin-left: 10px;
    }



}
