:root {
    --principal: #87c232;
    /* color principal */
    --secundario: #618930;
    /* para el hover */
    --fondo: #333333;
    /* color para los fondos de las páginas */
    --letras: #ffffff;
    /* color para resaltar las letras */
}
#a2{
    color: var(--principal);
    border: 3px solid var(--principal);
}


/************/
.divCentral {
    height: 100%;
    display: flex;
    border-radius: 15px;
}

.divUsuario {
    display: flex;
    align-items: center;
}
.fas.fa-bars{
        
        display: none;
    }

.seleccion {
    margin-left: 10px;
    display: flex;
}

#parcela {
    margin-left: 10px;
}

.seleccion select:enabled {
    background-color: #618930;
    color: #ffffff;
    border-radius: 10px;
    padding: 0.75rem;
    font-weight: bold;
    cursor: pointer;
    border: 0;
}
.seleccion select:disabled{
    background-color: #222629;
    color: darkslategrey;
    border-radius: 10px;
    padding: 0.75rem;
    font-weight: bold;
    cursor: pointer;
    border: 0;
}

.textAdmin {
    margin: 0;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    text-align: center;
}

#textNombreUsuario {
    padding: 10px;
}

.boton {
    border-radius: 200px 200px 200px 200px;
    border: none;
    margin-left: 10px;
}

.lista a {
    color: black;
    display: block;
    padding: 12px;
}

.lista {
    background-color: #d9c0fc;
    display: none;
    width: 180px;
    position: absolute;
    z-index: 100;
}

.lista a:hover {
    background-color: #f1f1f1;
}

.desplegable:hover .lista {
    display: block;

}

.despegable {
    position: absolute;
}

.delete {
    cursor: pointer;
    background-color: #800053;
    color: white;
    border-radius: 10px;
    border: 0;
    font-weight: bold;
    padding: 1rem;

}
.fas.fa-sign-out-alt{
    font-size: 40px;
    color: white;
    cursor: pointer;
}
.fas.fa-sign-out-alt:hover{
    color: gray;
}

.button {
    align-content: space-between;
    padding: 1rem;
    margin-left: 17px;
}

.iconParcelasSelected {
    padding: 6px;
    width: 80px;
    height: auto;
    margin: 0.5rem;
}

.divSeleccionParcela {
    display: flex;
    align-items: center;
}

.divContenido {
    width: 100%;
}

.panelActual {
    display: none;
    flex-direction: column;
}

.titulo-sin-linea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-sin-linea p {
    font-size: 40px;
}

#linea-titulo {
    border: 2px solid white;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    border-radius: 25px;
}

.divContenidoUser {
    padding: 1.5rem;
    height: 780px;
    
}



#map {
    width: inherit;
    height: inherit;
    margin-right: 30px;

}

.seleccion {
    display: flex;
    justify-content: center;
}

.seleccionUsuarios {
    margin-right: 10px;
}

.seleccionParcela {
    margin-right: 20px;
    margin-left: 2rem;
}

.enlace-graficas {
    margin-top: 60px;
    margin-left: 20px;
    color: #87C232;
    text-decoration-line: underline;
    text-decoration-color: #87C232;
}

.enlace-graficasenUser {
    margin-top: 70px;
    margin-top: 60px;
    margin-left: 20px;
    color: #87C232;
    text-decoration-line: underline;
    text-decoration-color: #87C232;
}

#selectUsuarios {
    padding: 20px 80px;
}

.divTextSeleccionParcela {
    margin-left: 40px;
    display: flex;
    align-items: center;
}

.textSeleccionUsuario {
    font-weight: bold;
    color: white;
}

.textSeleccionParcela {
    font-weight: bold;
    color: white;
}

.textSeleccionMediciones {
    font-weight: bold;
    padding: 5px;
    margin-left: 15px;
}

/*SCROL BARR*/

.divContenidoUser::-webkit-scrollbar {
    -webkit-appearance: none;
}

.divContenidoUser::-webkit-scrollbar:vertical {
    width: 10px;
}

.divContenidoUser::-webkit-scrollbar-button:increment,
.divContenidoUser::-webkit-scrollbar-button {
    display: none;
}

.divContenidoUser::-webkit-scrollbar:horizontal {
    height: 10px;
}

.divContenidoUser::-webkit-scrollbar-thumb {
    background-color: #035752;
    border-radius: 20px;
}

.divContenidoUser::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 10px #797979;
}

.no-selectores-header {
    display: flex;
    align-items: center;
}


/*------RESPONSIVE----------*/
@media only screen and (max-width:900px) {
    body {
    background-color: #474A4F;
    margin: 0 auto;
    }
    .panelActual {
    display: flex;
    flex-direction: column;
    color: white;
    }

    .divContenidoUser {

        overflow: inherit;
    }

    .divCentral {
        margin-bottom: 0px;
    }

    .panelActual {
        border-radius: 0px;
    }

    .container {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 0px;
    }


    #map {
        width: inherit;
        height: 710px;
        border: solid 3px black;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;

    }

    .seleccion {
        display: flex;
        justify-content: center;
        margin-top: 17px;
        
    }

    .iconParcelasSelected {
        width: 60px;
    }

    .titulo-sin-linea p {
        font-size: 35px;
    }

    #parcela {
        width: 150px;
        font-size: 10px;

    }

    #selectUsurios {
        width: 150px;
        font-size: 10px;
    }

    .textSeleccionParcela {
        font-size: 15px;
    }
}



@media only screen and (max-width: 450px) {
    body {
    background-color: #474A4F;
    margin: 0 auto;
    }
    .panelActual {
    display: flex;
    flex-direction: column;
    color: white;
    }
    .prueba.fas.fa-sign-out-alt{
        display: none;
    }

    .textSeleccionMediciones {
        font-weight: bold;
        padding: 5px;
        margin-left: 3px;
    }

    .textSeleccionParcela {
        font-weight: bold;
        padding: 5px;
        margin-left: 3px;
    }

    #selectParcelas {
        margin-top: 8px;
        font-size: 10px;
    }


    .divContenidoUser {
        padding: 0.5rem;
        margin-bottom: 0px;
        height: 530px;
    }

    #map {
        height: 550px;
    }

    .iconSeleccionParcela {
        padding-left: 0;
        width: 55px;
        margin-right: 0.5rem;
    }

    .button {
        margin-left: 0;
        padding-left: 0.5rem;
    }

    .iconParcelasSelected {
        width: 45px;
    }

    .titulo-sin-linea p {
        font-size: 25px;
    }


    .divTextSeleccionParcela {
        margin-top: 5px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .textSeleccionParcela {
        margin-bottom: 0px;
    }

    .seleccion {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: 17px;
        margin-left: 10px;

    }

    .enlace-graficas {
        margin-top: 10px;
        margin-left: 120px;
    }

    .enlace-graficasenUser {
        margin-top: 65px;
    }
    #selectUsurios {
        width: 130px;
        font-size: 10px;
    }

}
