/* Navbar */
.form-control{
    border-color: #800053;
    margin-left: 15px;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    font-size: 15px;
    padding: 0.5rem;
}

.navbar{
    display: flex;
    justify-content: center;
}

h4{
    padding-left: 1rem;
    padding-top: 1rem;
    margin-top: 10px;
    justify-content: center;
    display: flex;
}

/* ----------------------*/

*{
    font-family: "Trebuchet MS";
}
body{
    margin: 0 auto;
}
#textNombreUsuario{
    padding: 5px;
    
}
#linea-titulo {
    border: 2px solid black;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}
.panelActual {
    display: flex;
    flex-direction: column;
}
.titulo-sin-linea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-sin-linea p {
    font-size: 40px;
}

.logoGTI:hover{
    cursor: pointer;
}

.titulo-admin{
    color: gray;
    height: 50px;
    border-right: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    align-items: center;
    padding: 0.25rem;
    list-style: none;
    width: 100%;
    text-align: center;
}

ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
}



.cerrar_sesion{
    width: 30px;

}
.cerrar_sesion:hover{
    cursor: pointer;
}
.iconMenu{
    display: none;
    width: 25px;
    height: 30px;
    margin-top: 0.7rem;
    margin-left: 0.5rem;
}

.container{
    align-items: center;
    margin-right: 7.5rem;
    margin-left: 7.5rem;
    margin-bottom: 1.5rem;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.divCentral{
    height: 100%;
    display: flex;
    border-radius: 15px;
}
.divUsuario{

    display: flex;
    align-items: center;
}
.iconUseer{
    margin-left: 2rem;
    margin-right: 0.75rem;
    width: 75px;
    height: 75px;
}

.textAdmin{
    margin: 0;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    text-align: center;
}

.divContenido{
    width: 100%;
}
.divPanelActual{
    border-top-right-radius: 15px;
    border-bottom: 2px solid white;
    font-size: 1.2rem;
    width: 100%;
    height: 82px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #800053;
}
.divContenidoUserNuevo{
    display: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.25rem;
}
.divContenidoUser{
    padding: 1.5rem;
    height: 570px;
    overflow: auto;
}

.divNuevoUsuario{
    display: flex;
    align-items: center;

}

.botonAceptar{
    border: 5px;
    border-color: black;
    background-color: #333333;
    color: white;
    font-size: 11px;
    border-radius: 10px;
    width: 80px;
    height: 35px;
    text-align: center;
   margin-bottom: 0.7rem;
    margin-right: 10px;
    margin-left: 30px;
    margin-top: 10px;
}

.botonAceptar:hover{
    background-color: black;
    
}


.iconNuevoUsuario{
    width: 100px;
    height: auto;
    padding-left: 2.5rem;
   margin-bottom: 0.7rem;
}
.iconNuevoUsuario:hover{
    cursor: pointer;
}
.divTextoPersona{
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}

.divTextoNuevaPersona{
    color: white;
    display: flex;
    flex-direction: column;
}

.navUsuarios{
    /*border: 4px solid black; */
    background-color: #035752;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.navUsuarios:hover{
    background-color:#035752;
}
.navMediciones{
    border: 2px solid black;
}

.navMediciones:hover{
    background-color: #035752;
}
.navParcela{
    border: 2px solid black;
}
.navParcela:hover{
    background-color: #035752;
}

.divPerson{
    display: flex;
    background-color: #797979;
    border-radius: 15px;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.divNuevaPersona{
    display: flex;
    background-color: #797979;
    border-radius: 15px;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.iconUserPerson{
    margin-right: 1rem;
    width:75px ;
    height: 75px;
}
.iconDeleteUser{
    width:50px ;
    height: 50px;
}
.iconDeleteUser:hover{
    cursor: pointer;
}
.iconEditUser1{
    border-color: black;
    color: white;
    font-size: 12px;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-right: 30px;
    margin-left: 5px;
}
.iconEditUser1:hover{
    background: grey;
    color: white;
    cursor: pointer;
}



/*SCROL BARR*/

.divContenidoUser::-webkit-scrollbar {
    -webkit-appearance: none;
}

.divContenidoUser::-webkit-scrollbar:vertical {
    width:10px;
}

.divContenidoUser::-webkit-scrollbar-button:increment,.divContenidoUser::-webkit-scrollbar-button {
    display: none;
}

.divContenidoUser::-webkit-scrollbar:horizontal {
    height: 10px;
}

.divContenidoUser::-webkit-scrollbar-thumb {
    background-color: #800053;
    border-radius: 20px;
}

.divContenidoUser::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 10px #797979;
}


/*-------------*/

.iconNuevoUsuario{
    margin-top: 1rem;
    width:50px;
    height: auto;
    margin-right: 0.5rem;
}
.iconAceptarCancelNuevo{
    width: 50px;
    height: 50px;
}
.iconAceptarCancelNuevo:hover{
    cursor: pointer;
}

.iconAceptarCancel{
    display: none;
    border: 5px;
    border-color: black;
    background-color: #333333;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    width: 85px;
    height: 35px;
    text-align: center;
    margin-right: 30px;
    margin-left: 5px;
    
}

.iconAceptarCancel:hover{
    cursor: pointer;
    background: black;
    color: white;
}



/*------RESPONSIVE----------*/
@media only screen and (max-width:900px){
    #a1{
    border: 2px solid black;
    border-radius: 15px;
        margin: 25px;
}
    .divContenidoUser{
        overflow: inherit;
    }
    .divPanelActual{
        border-radius: 15px;
    }
    .container{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .iconUseer{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .iconNuevoUsuario{
        width: 75px;
        height: 75px;
    }
    .iconMenu{
        display: block;
    }
    .divPanelActual {
        border-radius: 0px;
    }
    .titulo-sin-linea p {
        font-size: 35px;
    }
    .divTextoNuevaPersona{
        margin-right: 1rem;
    }
    .iconEditUser1{
        width: 30px;
        height: 30px;
    }
    
    .titulo-admin{
        display: none;
    }

}

@media only screen and (max-width: 450px) {
    #a1{
    border: 2px solid black;
    border-radius: 15px;
        margin: 25px;
}
    .iconUserPerson{

        width:60px ;
        height: 60px;


    }
    
    .titulo-admin{
        display: none;
    }
    .iconMenu{
        display: block;
    }
    .logoGTI{
        width: 150px;
        height: auto;
    }   
    .iconNuevoUsuario{
        width: 45px;
        height: 45px;
        margin-right: 1rem;
    }
    .iconEditUser1{
        text-align: center;
        width: 25px;
        height: 25px;
        padding: 0.35rem;
        margin-left: 5px;
        margin-right: 0;
    }
    .iconDeleteUser{
        width: 40px;
        height: 40px;
    }

    .divContenidoUser{
        padding: 0;
    }
    .iconUseer{
        width: 65px;
        height: 65px;

    }
   
    .textNombre{
        font-size: 1rem;
        width: 9rem;
    }
    .textCorreo{
        font-size: 1rem;
        width: 9rem;
    }
    .divNuevaPersona{
        flex-direction: column;
        font-size: 1rem;
    }
    .divTextoNuevaPersona{
        color: white;
        display: flex;
        align-items: center;

    }


    header{
        margin-bottom: 0.5rem;
    }
    .titulo-sin-linea p {
        font-size: 25px;
    }

    .divTextoPersona{
        padding-left: 0;

    }
    .iconAceptarCancel{
        padding: 0.35rem;
        height: auto;
        width: auto;
        margin-right: 0;
    }
    .textNuevoUser{
        width: 250px;
    }
    .divTextoNuevaPersona{
        margin-right: 0;
    }

}

.textCorreo{

    font-size: 1.2rem;
    border: 0;
    background: transparent;
}
.textCorreo:disabled{
    color: white;
}
.textNombre{
    font-size: 1.5rem;
    border: 0;
    background: transparent;
    margin-bottom: 0.5rem;
}
.textNombre:disabled{
    color: white;
}
.textNombre:enabled{
    color: white;
    background: #423f3e;
}
.textCorreo:enabled{
    color: white;
    background: #423f3e;
}

.textNuevoUser{
    font-size: 1rem;
    border: 0;
    background: transparent;
}
.textNuevoUser:enabled{
    color: white;
    background: #423f3e;
}

.textNuevoUser{
    padding: 0.5rem;

}

