

/*-------Fuente común-------*/
* {
    font-family: "Trebuchet MS";
}


/*-----Forma de texto------*/
.textSeleccionParcela {
    font-weight: bold;
    padding: 5px;
    margin-bottom: 1px;
    color: white;
}

.textSeleccionSonda {
    font-weight: bold;
    padding: 5px;
    margin-bottom: 1px;
    color: white;
}

.textSeleccionFecha {
    font-weight: bold;
    padding: 5px;
    margin-bottom: 1px;
    color: white;
}

.textSeleccionUser {
    font-weight: bold;
    color: white;
    padding: 5px;
    margin-bottom: 1px;
}


/*SCROL BARR*/
/*
.grafica::-webkit-scrollbar {
    -webkit-appearance: none;
}

.grafica::-webkit-scrollbar:vertical {
    width: 10px;
}

.grafica::-webkit-scrollbar-button:increment,
.grafica::-webkit-scrollbar-button {
    display: none;
}

.grafica::-webkit-scrollbar:horizontal {
    height: 10px;
}

.grafica::-webkit-scrollbar-thumb {
    background-color: #800053;
    border-radius: 20px;
}

.grafica::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 10px #797979;
}
*/
/*-------------*/

#grafica {

    width: 80%;
    height: 55vh;
    margin: 1rem auto;
    margin-top: 2rem;
    background-color: #222629;
    border-radius: 10px;
}

/*
.lbl {
    display: flex;
    width: 33px;
    height: 33px;
    background: white;
    border-radius: 10px;
    border: 1px black solid;
    margin: 0 auto;
}
*/

/*------Header--------*/
body {
    margin: 0 auto;
    background-color: #474A4F;
}

.logoGTI:hover {
    cursor: pointer;
}

.cerrar_sesion {
    padding: 5px;
    width: 30px;
}
.fas.fa-bars{
    display: none;
}

.cerrar_sesion:hover {
    cursor: pointer;
}
header {
    display: flex;
    justify-content: space-between;
}
.fas.fa-sign-out-alt{
    font-size: 40px;
    color: white;
    cursor: pointer;
}
.fas.fa-sign-out-alt:hover{
    color: gray;
}
/*----------------*/


/*---------Selectores---------*/
.iconMenu {
    display: none;
    width: 35px;
    height: auto;
    margin-top: 0.7rem;
    margin-left: 0.5rem;
}


.divContenidoGraficas {
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: flex-start;
    flex-direction: row;
}

.divContenidoGraficasUser {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.divSelectoresUser {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}

.seleccionPrimeraFecha{

}

.checkbox {
    display: flex;
    text-align: center;
    margin-bottom: 1rem;
    justify-content: center;
}


.container {
    align-items: center;
    margin-right: 7.5rem;
    margin-left: 7.5rem;
    margin-bottom: 1.5rem;
}



.divCentral {
    height: 100%;
    display: flex;
    border-radius: 15px;
}

.divUsuario {

    display: flex;
    align-items: center;
}



.seleccion select {
    background-color: #0c3943;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 10px;
    padding: 1rem;
    border: 0px;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 1rem;

}
.divSelectoresDerecha{
    display: flex;

}
#selectUsurios:enabled,
#selectParcelas:enabled,
#fechaInicio.calendar:enabled,
#fechaFin.calendar:enabled,
#selectSondas:enabled{
    background-color: #618930;
    color: #C7D9CD;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 10px;
    padding: 0.6rem;
    border: 0px;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 1rem;

}

#selectUsurios:disabled,
#fechaInicio:disabled,
#fechaFin:disabled,
#selectParcelas:disabled,
#selectSondas:disabled{
    background-color: #222629;
    color: lightslategrey;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 10px;
    padding: 0.6rem;
    border: 0px;
    cursor: pointer;
    margin-top: 5px;
   margin-right: 1rem;
}
#fechaFinLabel{
    color: white;
}



.calendar {
    background-color: #618930;
    color: #C7D9CD;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 10px;
    padding: 0.6rem;
    border: 0;
    cursor: pointer;
    margin-top: 5px;
    width: 190px;
}


.lista a {
    color: black;
    display: block;
    padding: 12px;
}

.lista {
    background-color: #d9c0fc;
    display: none;
    width: 180px;
    position: absolute;
    z-index: 100;
}

.lista a:hover {
    background-color: #f1f1f1;
}

.iconSensorSelected {
    width: 80px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 0.5rem;

}

.titulo-sin-linea p {
    margin: 0;
}

.divContenido {
    width: 100%;
}

.panelActual {
    display: none;
    flex-direction: column;
}

.titulo-sin-linea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-sin-linea p {
    font-size: 40px;
}

#linea-titulo {
    border: 2px solid white;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    border-radius: 25px;
}


.elementSensores {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 2rem;
}

.textAdmin {
    margin: 0;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    text-align: center;
}


/*------------Menú----------*/
.navUsuarios {
    border-right: 1px solid white;

}



.navMediciones {
   
    border-right: 1px solid white;
    color: #87C232;
}
.navMediciones a{
    color: #87C232
}

.navParcela {
    border-right: 1px solid white;
    
}

.divSelectores {
    display: flex;
}

.imgDateSelectorUnique,
.imgDateSelectorInterval {
    height: 50px;
    width: auto;
    position: absolute;
    margin-left: 215px;
}

.imgDateSelectorUnique {
    display: none;
}
.prueba

.imgDateSelectorUnique:hover,
.imgDateSelectorInterval:hover {
    cursor: pointer;
}

.divSelectorFecha {
    display: flex;
    /*align-items: center;*/
    flex-direction: row;

}




.divFechaFin, .divFechaFinUser {
    display: none;

}
.divFechaFinUser{
    margin-left: 5rem;
}
.labelYcalendarFechaFin{
    display: flex;
    flex-direction: column;


}
.labelYcalendarFechaFin p{
    margin-bottom: 1px;
    padding: 5px;

}
#btn-abrir-popup-mediciones{
    background-color: #474A4F;
    border: 0;
}
#btn-abrir-popup-mediciones:focus{
    border: 0;
    outline: none;
}
#btn-abrir-popup-mediciones a{
    color: #87C232;
    cursor: pointer;
}
.fas fa-info-circle{
    color: #87C232;
    width: 20px;
    cursor: pointer;
}
/*------------POP UP----------------------*/
.overlay{
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;

}
.overlay.active{
    visibility: visible;
}
.popup{
    background: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    font-family: "Trebuchet MS",sans-serif;
    padding: 20px;
    text-align: center;
    width: 300px;



}
.popup p{
    text-align: center;
    color: #3a3a3a;
}
.popup .btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #3a3a3a;
}
.popup .btn-cerrar-popup:hover{
    color: black;
}
.popup h3{
    color:#618930 ;
    margin-top: 1rem;
    font-size: 25px;
    font-weight: 600;
}

/*------RESPONSIVE----------*/

/*---------Ipad--------*/
@media only screen and (max-width:900px) {

    /* Ipad */

    .textSeleccionSonda,
    .textSeleccionFecha,
    .textSeleccionUser,
    .textSeleccionParcela {
        margin: 0;
    }
    .panelActual {
    color: white;
    display: flex;
    flex-direction: column;
}

    #a3 {
        border: 4px solid #87C232;
        border-radius: 15px;
        margin: 25px;
        color: #87C232;
    }
    #a4{
        border: 4px solid white;
        border-radius: 15px;
        margin: 25px;
    }
    #a4:hover{
        border: 4px solid #87C232;
        border-radius: 15px;
        margin: 25px;
        color: #87C232;
    }
    #a1{
        border: 4px solid white;
        border-radius: 15px;
        margin: 25px;
    }
    #a1:hover{
        border: 4px solid #87C232;
        border-radius: 15px;
        margin: 25px;
        color: #87C232;
    }
    #a2{
        border: 4px solid white;
        border-radius: 15px;
        margin: 25px;
    }
    #a2:hover{
        border: 4px solid #87C232;
        border-radius: 15px;
        margin: 25px;
        color: #87C232;
    }
    .prueba.fas.fa-sign-out-alt{
        display: none;
    }

    #b2 {
        border: 4px solid #87C232;
        border-radius: 15px;
        margin: 25px;
        color: #87C232;
    }
   

    .grafica {
        overflow: inherit;
        width: 80vw;
    }

    .container {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .fas.fa-bars{
        color: white;
        font-size: 40px;
        margin-left: 15px;
        display: flex;
    }

    .logoGTI {
        width: 110px;
    }

    .iconSensorSelected {
        width: 60px;
    }

    .titulo-sin-linea p {
        font-size: 35px;
    }

    .seleccion select {
        margin-top: 0;
        margin-left: 40px;
    }

    .divContenidoGraficas {
        align-items: baseline;
        justify-content: space-around;

    }

    .checkbox {
        display: flex;
        flex-direction: row;
        font-size: 15px;
        justify-content: center;
    }

    .elementSensores {
        display: flex;
        justify-content: flex-start;
    }


    #humedad {
        margin-left: 35px;
    }

    #salinidad {
        margin-left: 35px;
    }

    .cajas {
        margin-top: 35px;
    }

    #selectUsurios {
        margin: 0;
    }

    #selectParcelas {
        margin: 0;
    }

    #selectSondas {
        margin: 0;
    }

    .calendar {
        margin: 0;
    }

    .divSelectores {
        margin-top: 1.5rem;
        /*display: block;*/
    }

    .divContenidoGraficas {
        flex-wrap: wrap;
    }

    /*  clases solo de la version USER */
    .divContenidoGraficasUser {
        display: block;
    }

    .divSelectoresUser {
        justify-content:stretch;
        margin-top: 1rem;


    }
    .divFechaFinUser{
        margin-left: 0;


    }
    .textoIntervalo{
        color: white;
        width: 100px;
    }

}


/*-------Iphone---------*/
@media only screen and (max-width: 450px) {

    /* Iphone */

    .container {
        margin-bottom: 0;
    }
    .panelActual {
    display: flex;
    flex-direction: column;
    color: white;
    }
    #a1{
        border: 4px solid white;
        border-radius: 10px;
        margin: 25px; 
    }
    #a1:hover{
        border: 4px solid #87C232;
        color: #87C232;
    }
    #a2{
       border: 4px solid white;
        border-radius: 10px;
        margin: 25px;
    
    }
    #a2:hover{
        border: 4px solid #87C232;
        color: #87C232;
    }
    #a3 {
        border: 4px solid #87C232;
        border-radius: 10px;
        margin: 25px;
        color: #87C232;
    }
    #a4{
        border: 4px solid white;
        border-radius: 10px;
        margin: 25px;
    }
    #a4:hover{
        border: 4px solid #87C232;
        color: #87C232;
    }
    #b1{
        border: 4px solid white;
         border-radius: 10px;
        margin: 25px;
    }
    #b1:hover{
        border: 4px solid #87C232;
        border-radius: 10px;
        margin: 25px;
        color: #87C232;
    }
    #b2 {
        border: 4px solid #87C232;
        border-radius: 10px;
        margin: 25px;
        color: #87C232;
    }
    #b3{
       border: 4px solid white;
         border-radius: 10px;
        margin: 25px; 
    }
    #3:hover{
        border: 2px solid #87C232;
        border-radius: 10px;
        margin: 25px;
        color: #87C232;
    }

    .iconSensorSelected {
        width: 45px;

    }

    .divContenidoGraficas {
        display: flex;
        margin-top: 2rem;
    }

    .titulo-sin-linea p {
        font-size: 25px;
    }

    .divSelectores {
        margin-top: 0;
        margin-bottom: 0.5rem;
        flex-direction: row;

    }
    .divSelectoresDerecha{
        flex-direction: column;
        align-items: center;

    }
    .divSelectoresUser {
        justify-content:center;
        margin-top: 0px;
        margin-left: 10px;


    }
    #fechaFinLabel{
        margin-top: 5px;
    }


    .textSeleccionSonda,
    .textSeleccionFecha,
    .textSeleccionUser,
    .textSeleccionParcela {
        margin: 0;
    }
    

    header {
        margin-bottom: 0.5rem;
    }

    .seleccion select {
        margin-left: 0px;
        margin-top: 0px;
        width: 150px;
        height: 60px;
        font-size: 15px;
    }

    #selectUsurios:enabled,
    #selectParcelas:enabled,
    #fechaInicio.calendar:enabled,
    #fechaFin.calendar:enabled,
    #selectSondas:enabled{

        font-size: .7rem;


    }
    #selectUsurios:disabled,
    #selectParcelas:disabled,
    #fechaInicio.calendar:disabled,
    #fechaFin.calendar:disabled,
    #selectSondas:disabled{

        font-size: .7rem;


    }
    #grafica {
        padding: 0;
        width: 95%;
        height: 70vh;
    }

    .seleccion select {
        margin-top: 20px;
    }

    .divContenidoGraficas {
        flex-wrap: wrap;
        margin-right: 1rem;
    }

    .seleccion_calendar {
        font-size: 10px;
        margin: 5px;
        margin-right: 150px;
        margin-top: 15px;
        width: 10px;
        font-size: 3px;
    }

    #selectUsurios {
        width: 100px;
        height: 40px;
        font-size: 13px;
        padding: 0.5rem;
    }

    #selectParcelas {
        width: 150px;
        height: 40px;
        font-size: 13px;
        padding: 0.5rem;

    }

    #selectSondas {
        width: 146px;
        height: 40px;
        font-size: 13px;

        padding: 0.5rem;
    }


    .calendar {
        width: 130px;
        height: 24px;
        font-size: 13px;
        padding: 0.5rem;
    }

    .seleccion {
        flex-direction: row;

    }

    .elementSensores {
        flex-direction: column;
        align-items: center;
        font-size: 13px;
        margin-right: 0;
    }

    .elementSensores h3 {
        margin: 0;
    }

    .logoGTI {
        display: block;
        width: 90px;
        height: auto;
    }
    .fas.fa-sign-out-alt{
       
        display: none;
    }


    .dos-primeras {
        display: flex;
        flex-direction: column;
    }

    .calendar {
        margin-bottom: 0;
        margin-left: 0;
    }

    .dos-segundas {
        display: flex;
        flex-direction: column;
        margin-right: 0;
    }

    #salinidad {
        margin-right: 10px;
        margin-left: 10px;
    }

    #temperatura {
        margin-right: 10px;
    }

    #humedad {
        margin-left: 10px;
    }

    .imgDateSelectorInterval,
    .imgDateSelectorUnique {
        height: 35px;
        margin-left: 150px;
    }

    .seleccion {

        margin-right: 1rem;
    }
    .divContenidoGraficasUser{
        margin-right: 1.2rem;
        margin-top: 2rem;
    }


}
