:root {
    --principal:#333333 ;
    /* color principal */
    --secundario: 
    /* para el hover */
    --fondo: #D8E6F4;
    /* color para los fondos de las páginas */
    --letras: #005752;
    /* color para resaltar las letras */
}

nav{

    border-color: white;
    width: 100%;
    background-color:#333333;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

}
ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li {
    align-items: center;
    padding: 0.15rem;
    list-style: none;
    width: 100%;
    text-align: center;
}
ul{
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul li a:hover {
    color: #87C232;
    
}
.fas.fa-leaf{
    font-size: 40px;
    padding: 10px;
}
.fas.fa-cloud-sun{
    font-size: 40px;
    padding: 10px;
}
.fas.fa-users{
    font-size: 40px;
    padding: 10px;
}
.fas.fa-chart-bar{
    font-size: 40px;
    padding: 10px;
    
}
.fas.fa-cogs{
    font-size: 40px;
    padding: 10px;
    
}



.iconParcelas{
    padding: 10px;
    height: 60px;
    width: 60px;
}
.iconMediciones{
     padding: 10px;
    height: 60px;
    width: 60px;
}
.iconGestionUsuarios{
    padding: 10px;
    height: 60px;
    width: 60px;
}
.iconNoticias{
    padding: 10px;
    height: 60px;
    width: 60px;
}
.iconGestionParcelas{
    fill: white;
    width: 60px;
    height: 60px;
}

.iconGestionUsuariosSelected{
    width: 69px;
    height: auto;
}



@media only screen and (max-width:900px) {
    nav {
        display: none;
    }
    header{
        align-items: center; 
        
    }
    
    
    
    .divUsuario{
    
    }

}

.textNav{
    margin-left: 0.7rem;
}

/*------MENU LATERAL ----------*/



.sidenav {
    height: 100%;
    width: 0; /*se cambia con JS */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222629; /* Black*/
    overflow-x: hidden;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.headerMenu{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 1rem;

}
.menuTextAdmin{
    font-size: 1.5rem;
   
}
/* The navigation menu links */
.sidenav a {
    
    text-decoration: none;
    font-size: 15px;
    color: white;
    transition: 0.3s;
}
.fas.fa-sign-out-alt{
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    margin-top: 12rem;
}
.fas.fa-sign-out-alt:hover{
    color: #87C232;
    
}
/* When you mouse over the navigation links, change their color */
.itemMenu:hover {
    background-color: rgba(0,0,0,0.5);
}

.itemMenu{
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.menuText{
    font-size: 1.2rem;
    padding-left: 1rem;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    right: 25px;
    font-size:3rem;
    margin-left: 50px;
}
 
