:root {
    --principal:#87C232 ;
    --secundario:#618930;
    --fondo: #474A4F;
}

*{
    font-family: "Trebuchet MS", serif;
}

body{
    display: block;
    margin: 0;
    background-color: var(--fondo);
}

.container{
    margin: 1.5rem 5rem 1.5rem 5rem;
}
/* ------------HEADER------------------- */
header{
    max-width: 1450px;
    margin: 0 auto;
}

.divContainerHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.iconMenu{
    display: none!important;

}

.iconCerrarSesion{
    margin-top: 0;
    font-size: 30px;
    color: white;
}
.iconCerrarSesion:hover{
    cursor: pointer;
}
.panelActual{
    display: none;
}

.navGeneral{

    max-width: 800px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.logoGTI{
    height: 100px;
    width: auto;
}
.logoGTI:hover {
    cursor: pointer;
}

.textNombreUsuario{
    display: none;
    color: white;
    font-weight: bold;

}

/* LISTA MENU */
ul li a {
    background-color: #333333;
    padding: 1rem;
    color: white;
    border: 3px solid white;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li {

    list-style: none;
    width: 100%;
    text-align: center;

}
ul{
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
ul li a:hover {
    color: var(--principal);
    border: 3px solid var(--principal);
}
.navParcela a{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.navGestionParcelas a{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.fas.fa-leaf{
    font-size: 40px;
    padding: 10px;
}
.fas.fa-cloud-sun{
    font-size: 40px;
    padding: 10px;
}
.fas.fa-users{
    font-size: 40px;
    padding: 10px;
}
.fas.fa-chart-bar{
    font-size: 40px;
    padding: 10px;
    
}
.fas.fa-cogs{
    font-size: 40px;
    padding: 10px;
}
.iconCerrarSesionSideNav{
    display: flex!important;
    justify-content: flex-end;
    margin-right: 2rem;
    font-size: 40px;
    margin-top: 10rem;
    color: white;
}
.divCerrarSesion{
    display: block;
}


.iconParcelas,.iconMediciones, .iconGestionUsuarios, .iconNoticias, .iconGestionParcelas{
    padding: 0.5rem;
    height: 60px;
    width: 60px;
}

.iconGestionUsuariosSelected{
    width: 69px;
    height: auto;
}

/*Botonoes genericos para toda la pagina*/

.botonPrincipal{
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--principal);
    width: 150px;
    height: 35px;
    border-radius: 15px;
    border: 0;
}

.botonPrincipal:hover{
    background-color: #C7FF00;
    color: #423f3e;
    cursor: pointer;
}


.botonSecundario{
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--secundario);
    width: 150px;
    height: 35px;
    border-radius: 15px;
    border: 0;
}

.botonSecundario:hover{
    background-color: #5D5D5D;
    cursor: pointer;
}



@media only screen and (max-width:900px) {
    nav {
        display: none;
    }
    header{
        align-items: center;

    }

    .iconMenu{
        display: block!important;
        font-size: 35px;
        color: white;
    }

}



@media only screen and (max-width:450px) {
    .divContainerHeader{
        justify-content: space-between;
    }

    .panelActual{
        display: block;
        color: white;
    }
    .botonPrincipal{
        width: 100px;
        height: 25px;
        font-size: 15px;
    }
    .botonSecundario{
        width: 100px;
        height: 25px;
        font-size: 15px;
    }
    .iconAceptarCancel{
        width: 100px;
        height: 25px;
        font-size: 15px;
    }
    .iconAceptarCancel2{
        width: 100px;
        height: 25px;
        font-size: 15px;
    }
    .logoGTI{
        height: 60px;
    }
    .iconMenu{
        display: block!important;
        font-size: 35px;
        color: white;
    }
    .container {
        margin-top: 0.15rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .textNombreUsuario{
        display: block;
    }
    .iconCerrarSesion{

        display: none !important;
    }

}


.textNav{
    margin-left: 0.7rem;
}

/*------MENU LATERAL ----------*/



.sidenav {
    height: 100%;
    width: 0; /*se cambia con JS */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222629; /* Black*/
    overflow-x: hidden;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.headerMenu{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 1rem;

}
.menuTextAdmin{
    font-size: 1.5rem;
   
}
/* elementos del mun */
.sidenav a {
    
    text-decoration: none;
    font-size: 15px;
    color: white;
    transition: 0.3s;
    border: 2px solid white;
    border-radius: 15px;
    margin: 25px;
}
.sidenav a:hover{
    border: 2px solid #87C232;
    border-radius: 15px;
    margin: 25px;
    color: #87C232;
}


.itemMenu:hover {
    background-color: rgba(0,0,0,0.5);
}

.itemMenu{
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.menuText{
    font-size: 1.2rem;
    padding-left: 1rem;
}
.sidenav .closebtn {
    right: 25px;
    font-size:3rem;
    margin-left: 50px;
}
 
