:root {
    --principal: #87C232;
    /* color principal */
    --secundario: #618930;
    /* para el hover */
    --fondo: #333333;
    /* color para los fondos de las páginas */
    --letras: white;
    /* color para resaltar las letras */
}

* {
    font-family: "Trebuchet MS";
}

body {
    margin: 0;
}

.localizacion p {
    margin-left: 7px;
}
.iconTitulo{
    height: 25px;
    width: 25px;
    margin-left: 5px;
}

.form {
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--fondo);
}

.textoConsulta{
    color: var(--principal);
    text-align: center;
    font-size: 2rem;
}

.form-control {
    margin-top: 0.35rem;
    border-radius: 10px;
    padding: 0.7rem;
    width: 18rem;
    font-size: 0.8rem;
}

.textAreaConsulta {
    margin-top: 0.25rem;
    resize: none;
    height: 10rem;
    width: 20rem;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 0.8rem;
}

.contenedorCamposForm {
    margin-right: 4rem;
}

.contenedorConsulta {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}
.contenido-debajo{
    display: flex;
    justify-content: flex-end;
}

.btn_form {
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    height: 4rem;
    width: auto;
}

.form-control:focus {}

.form-group label {
    font-weight: bold;
    font-size: 1.1rem;
}

body {
    justify-content: center;
}

.form-group{
    color: white;
}

.contacto {
    justify-content: center;
    display: flex;
}

.input,
.btn_submit,
.btn_reset {
    background-color: var(--principal);
    border: 0;
    color: white;
    padding: 1px 20px;
    text-decoration: none;
    margin: 4px 1rem;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.2rem;
}
.input,
.btn_submit p,
.btn_reset p{
    margin: 0px;
}


.buttonEnviar{
    background-color: var(--principal);
    border: 0;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 1rem;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.02rem;
}

.btn_submit:hover {
    background-color: var(--secundario);
    color: white;
}

.btn_reset:hover {
    background-color: var(--secundario);
    color: white;
}
.container-dudas{
    color: white;
    margin-right: 3rem;
}
.container-dudas h4{
    border-bottom: 2px solid white;
    width: 130px;
}
.container-redes{
    color: white;
    margin-bottom: 20px;
    
}
.container-redes h4{
    border-bottom: 2px solid white;
    width: 100px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.twitter{
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 8px;
}
.instagram{
    width: 35px;
    height: 35px;
    border-radius: 8px;
    margin-left: 1rem;
}


/*--------------mediaQuery--------------------*/


@media (max-height: 800px) {

    /*-----------Portatil--------------*/


    .divTitulo {
        display: flex;
        margin-bottom: 2rem;
        justify-content: center;
    }
}

@media (max-width: 880px) {
    
    /*-------------Portatil(mas resolucion)-------*/
    
}

@media only screen and (max-width: 900px) {
    
    /*-------------Ipad------------------*/

    .divTitulo {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .textAreaConsulta {
        height: 18rem;
        width: 18.1rem;
    }


    .contacto {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedorCamposForm {
        margin: 0;
    }
}

    
@media (max-width: 400px) {
    
    /*--------------Movil-----------------*/

    .contacto {
        border-radius: 0;
    }

    #mapita {
        margin-right: 1rem;
        align-content: center;
    }

    .localizacion p {
        align-content: center;
    }

    .divPhone {
        margin-top: 1rem;
    }

    .mailo {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .textAreaConsulta{
        height: 10rem;
    }
    .form-group label {
    font-weight: bold;
    font-size: 0.9rem;
}
    .btn_form{
        justify-content: center;
    }
    .btn_form p{
        display: flex;
        justify-content: center;
        margin-top: -5px;
    }
    
.btn_submit,
.btn_reset {
    font-size: 1rem;
    height: 40px;
    width: 100px;
}
    .container-dudas a{
        font-size: 12px;
    }
    .container-dudas{
    color: white;
    float: left;
}
.container-dudas h4{
    border-bottom: 2px solid white;
    width: 130px;
}
.container-redes{
    color: white;
    float: right;
    margin-bottom: 20px;
}
.container-redes h4{
    border-bottom: 2px solid white;
    width: 100px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.twitter{
    margin-left: 5px;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 8px;
}
.instagram{
    margin-left: 10px;
    width: 34px;
    height: 34px;
}

}
