* {
    font-family: "Trebuchet MS";
}

.fondo {
    /* Gradiente del fondo */
    background: rgba(12, 176, 255, 1);
    background: -moz-linear-gradient(-45deg, rgba(12, 176, 255, 1) 0%, rgba(104, 205, 253, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(12, 176, 255, 1)), color-stop(100%, rgba(104, 205, 253, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(12, 176, 255, 1) 0%, rgba(104, 205, 253, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(12, 176, 255, 1) 0%, rgba(104, 205, 253, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(12, 176, 255, 1) 0%, rgba(104, 205, 253, 1) 100%);
    background: linear-gradient(135deg, rgba(12, 176, 255, 1) 0%, rgba(104, 205, 253, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0cb0ff', endColorstr='#68cdfd', GradientType=1);

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.body {
    margin: 20px;
    background: #474A4F;
}
.header{
    margin-bottom: 0px!important;
}

.contenido {
    background-color: #474A4F;
}

.divTitulo {
    display: flex;
    justify-content: center;
}

.FuncionamientoGeneral {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 700px;
    margin-bottom: 40px;
    margin-left: 30px;
}

.Privacidad {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 700px;
    margin-bottom: 40px;
    margin-left: 30px;
}

.mantenimientoSeguridad {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 500px;
    margin-bottom: 40px;
}

.listaMantenimiento {
    display: flex;
    flex-direction: row;
}

.tituloGeneral {
    margin-left: 10px;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.textoConsulta {
    color: #87C232;
    font-size: 43px;
}

.faqs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin-right: 15px;
}

.ul.lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-right: 15px;
    flex-wrap: wrap;
}

.listaMantenimiento {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.preguntayrespuesta {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-top: 20px;
}

.faqsMantenimientoySeguridad {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 15px;
}

.pregunta9 {
    margin-top: 75px;
}

.pregunta {
    padding: 9px;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    color: white;
}

.pregunta i {
    font-size: 28px;
    transition: .3s;
}

.pregunta span {
    transition: .3s;
}

.pregunta:hover span {
    color: #71A92B;
}

.pregunta:last-child {
    border: none;
}

.respuesta {
    text-align: justify;
    background: #f3f3f3;
    height: 0;
    overflow: hidden;
    transition: .5s;
    padding: 0 14px;
    font-size: 13px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* Estilos para una pregunta seleccionada */
.resp_act {
    padding-top: 2px;
    padding-bottom: 7px;
    border-bottom: 1px solid lightgrey;
}

.ico_resp_act {
    transform: rotate(180deg);
}

/*-------------- mediaQuery -----------------*/

@media (max-width: 1300px) {

    /*------------ Portatil ------------------*/

    .divTitulo {
        display: flex;
        justify-content: center;
    }

}

@media only screen and (max-width: 900px) {

    /*-------------Ipad------------------*/

    .divTitulo {
        margin: 0;
        display: flex;
        justify-content: center;
    }
    
    .faqs{
        display: flex;
        justify-content: center;
        width: 600px;
        
    }
    
    .Privacidad{
        width: 300px;
    }
    
    .preguntayrespuesta{
        width: 300px;
        margin-left: 
    }
    .tituloGeneral{
        font-size: 20px;
    }
    .pregunta9{
        margin-right: 3rem;
    }
}

@media only screen and (max-width: 450px) {

    /*--------------Movil-----------------*/

    .divTitulo {
        display: flex;
        justify-content: center;
        font-size: 10px;
    }
    
    .textoConsulta{
        font-size: 30px;
    }
    
    .faqs {
        display: flex;
        flex-wrap: wrap;
        width: 300px;
    }
    
    .tituloGeneral{
        font-size: 20px;
    }
    
    .ul.lista{
        margin-left: 0px;
    }

    .faqsMantenimientoySeguridad {
        display: flex;
        flex-wrap: wrap;
    }

    .preguntayrespuesta {
        width: 250px;
        margin-right: 30px;
    }

    .pregunta9 {
        margin-top: 0px;
        margin-right: 0px;
    }
    
    .mantenimientoSeguridad{
        display: flex;
        flex-direction: column;
        margin-bottom: 1px;
        margin-left: 18px;
    }
}
